@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 0%;

    --card: 0 0% 98%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 5 100% 69%;

    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 25.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 80.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 5 100% 69%;

    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 72%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 15%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border transition-colors;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.card {
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.card>.card-content {
  /* background: linear-gradient(130deg, #171721f0 30%, #000); */
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 100%;
}

.spinner {
  -webkit-animation: spinnerAnimation 700ms steps(32) infinite;
  animation: spinnerAnimation 700ms steps(32) infinite;
}

@-webkit-keyframes spinnerAnimation {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

.react-tel-input .country-list .country:hover {
  background-color: hsl(var(--secondary)) !important;
}

.react-tel-input .selected-flag {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  width: 56px !important;
}

.react-tel-input .selected-flag:hover {
  background: hsl(var(--secondary)) !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: hsl(var(--secondary));
}

.react-tel-input .country-list .country.highlight {
  background-color: hsl(var(--secondary)) !important;
}

.glow-blob {
  @apply: absolute group-hover:block hidden transition-all ease-out bg-primary rounded-full blur-2xl size-64 origin-center shadow-primary shadow-xl;
}
